.banchile.payment-info td {
    padding-right: 20px;
    vertical-align: middle;
}

.banchile.payment-info td.result {
    color: #666;
    font-weight: bold;
    opacity: 0.9;
}

.banchile.payment-info td.result.charge.authorized,
.banchile.payment-info td.result.pass {
    color: #4DAD52;
}

.banchile.payment-info td.result img {
    display: none;
}

.banchile.payment-info td.result.pass img.passed {
    display: inline-block;
    width: 14px;
    position: relative;
    top: 1px;
}

.banchile.payment-info td.result.charge.issuer_declined,
.banchile.payment-info td.result.charge.blocked,
.banchile.payment-info td.result.charge.invalid,
.banchile.payment-info td.result.fail {
    color: #D8000C;
}

.banchile.payment-info td.result.fail img.failed {
    display: inline-block;
}

.banchile.payment-info td.result.unchecked {
    color: #9E9E9E;
}

.banchile.payment-info td.result.charge.manual_review,
.banchile.payment-info td.result.radar.elevated {
    color: orange;
}

.banchile.payment-info td.result {
    font-weight: bold;
}

ul#payment_form_Banchile_Payments {
    padding-left: 0;
}

.banchile-admin-config .heading {
    background: url("https://placetopay-static-prod-bucket.s3.us-east-2.amazonaws.com/banchile/logos/Logotipo_superior.png") no-repeat 0 50% / 18rem auto;
    padding-left: 20rem;
}

.banchile-admin-config .heading-cl {
    background: url("https://placetopay-static-prod-bucket.s3.us-east-2.amazonaws.com/banchile/logos/Logotipo_superior.png") no-repeat 0 50% / 18rem auto;
    padding-left: 20rem;
}

.banchile-admin-config .button-container {
    float: right;
}

.banchile-admin-config .config-alt {
    height: 28px;
    margin: 0.5rem 0 0;
    width: 230px;
}

.banchile-admin-config.section-config.active > .admin__collapsible-block + input + fieldset {
    margin-left: 40px;
}
