<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Banchile\Payments\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Banchile\Payments\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">banchile</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Banchile\Payments\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <preference for="Banchile\Payments\Api\ServiceInterface" type="Banchile\Payments\Api\Service" />
    <type name="Magento\Sales\Model\Order\Email\Container\OrderIdentity">
        <plugin name="change_is_enable_method" type="\Banchile\Payments\Plugin\Sales\Order\Email\Container\OrderIdentityPlugin"/>
    </type>
</config>
