<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="getnet" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Getnet</label>
                <comment>Accept payments by credit cards and debits account using Getnet.</comment>
                <fieldset_css>complex getnet-admin-config</fieldset_css>
                <frontend_model>Getnet\Payments\Block\Adminhtml\System\Config\Fieldset</frontend_model>
                <attribute type="displayIn">recommended_solutions</attribute>
                <include path="Getnet_Payments::system/company.xml"/>
                <include path="Getnet_Payments::system/settings.xml"/>
                <include path="Getnet_Payments::system/gateway.xml"/>
                <include path="Getnet_Payments::system/information.xml" />
            </group>
        </section>
    </system>
</config>
