.placetopay-method-message {
    margin-bottom: 10px;
}
.placetopay-method-message-warning {
    color: #ff0000 !important;
    font-weight: bold;
}
.placetopay-method-message-text {
    text-align: justify;
}
.placetopay-method-message-recommendation {
    color: #ff0000 !important;
}
